body{
    background-image: url(475449850348906a1af16ef9a99822c9.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0px;
    width: 100vw;
    height: 100vh;
}
.main{
    width: 100vw;
    height: 100vh;
    justify-content: center;
}
.intro{
    display: flex;
    padding: 10px;
    margin: 20px;
    color: white;
    text-wrap:pretty;
}
.nav{
    display: flex;
    padding: 10px;
    margin: 10px;
    border-radius: 1rem;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: large;
    background-color: rgb(122, 7, 92);
}
p{
    color: white;
    font-size: large;
    text-align: center;
    margin: 1.2vw;
}
#a{
    color: white;   
}
#a:visited{color:chartreuse}
#a:hover{color:darkorange}
#a:active{color:rgb(221, 231, 35)}
#ig{
    display: flex;
    flex-wrap: wrap;
    height: 10%;
    width: 20%;
    border-radius: 100%;
    margin: 10px;
    align-items: center;
    justify-content: center;
}
#container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(Background.gif);
    background-repeat: no-repeat;
    background-size: 95% 100%;
    background-position: 5.5vmin 0.8rem;  
}
